


.hammy {
  transition: 0.4s;
  position:relitive;
  width:60px;
  height:20px;
  cursor:pointer;
  overflow:hidden;
  padding:30px 10px;
  background-color:white;
  border-radius:10px;
  display:flex;
  align-items:center;
  z-index: 10;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  flex-direction: row;
}

.sammy {
  position:fixed;
  width:40px;
  height:4px;
  background:black;
}



/* controlling the three children spans of the container div */
.hammy .sammy:nth-child(1) {
  transition: 0.4s;
  transform:translateY(-15px);
}

.hammy .sammy:nth-child(2) {
  transition: opacity 0.4;
}


.hammy .sammy:nth-child(3) {
  transition: 0.4s;
  transform:translateY(15px);
}

.hammy.active .sammy:nth-child(2) {
  transition: opacity 0.4;
  visibility: hidden;

}

.hammy.active .sammy:nth-child(1) {
  transform:rotate(45deg)
}

.hammy.active .sammy:nth-child(3) {
  transform:rotate(-45deg)
}
.hammy.active{
  transition: 0.4s;
  
}






.charHead{
  position:relative;
  
    

}
.headDiv{ 
  min-block-size: 200px;
  position: relative;
  top: 18px;
}
.charTorso{
  position:relative;
  left: 5px;
  

}
.createbox{
  display: flex;

}
.buttonCol{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.charLegs{
  position: relative;
  top:-41px;
  left: 23px;

}

.characterDisplay{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.characterPage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}